:root {
    --primary-font-color: #757575;
    --secondary-font-collor: #212121;

    --primary-back-color: #FFFFFF;
    --secondary-back-color: #2F303A;
    --accent-color: #2196F3;
}


body {
    font-family: Roboto, sans-serif;
    color: var(--primary-font-color);
    background-color: var(--primary-back-color);
    
    width: 1600px;
    letter-spacing: 0.03em;
}

/* common */
/*links*/

.links {
    text-decoration: none;
    color: var(--secondary-font-collor);

    letter-spacing: 0.02em;
}

.active-links,
.links:focus,
.links:hover {
    color: var(--accent-color);
}

.markers {  
    list-style-type: none;
} 

/*buttons*/

.buttons {
    cursor: pointer;

    background-color: #F5F4FA;

    font-size: 16px;
 }

.buttons:focus,
.buttons:hover {
    background-color: var(--accent-color);
    color: var(--primary-back-color)
}

.title-hidden {
    display: none;
}

.title-section {
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-font-collor);
}

/* header*/

/*.header-section { }*/

/* logo */

.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19px;
    color: var(--secondary-font-collor);
    text-decoration: none;
}

.logo-accent {
    color: var(--accent-color);
}

.footer-section .logo {
    color: var(--primary-back-color);
}

/* navigation */

.navigation {
    font-size: 14px;
}

/* heroes section */

.heroes-section {
    background-color: var(--secondary-back-color);
    width: 1600px;
    height: 600px;
}

.heroes-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-back-color);
}

.heroes-button {
    color: var(--primary-back-color);
    background-color: var(--accent-color);

    width: 200px;
    height: 50px;
}

/*advantages-section*/

.advantag-title {
    color: var(--secondary-font-collor);
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
}

.advantages-section {
    font-size: 14px;
    line-height: 1.71;
}

/* work-section */
/* .work-section { } */

     
/*team-section*/

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #212121;
}

.position {
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
}

/* footer */

.footer-section {
    background-color:var(--secondary-back-color);
    color: var(--primary-back-color);
    
    width: 1600px;
    height: 252px;
}

.links-footer {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.address{
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
}

/*portfolio*/
/*filters-section*/

.filters-section {

}

/*work section*/

.works-section {

}

.works-title {
    font-style: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.works-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88; 
    color: #757575;
}


/* .description {} */